<div class="products">
  <div class="row" style="width: 100%; margin: 0;">
    <% products.each do |product| %>
      <div class="col-sm-6 product">
          <a href="<%= product_path(product) %>">
            <%= image_tag product.img_set[0], style: 'width: 100%' %>
          </a>

          <div class="card card-block" style="text-align: center">
            <%= link_to product.name, product_path(product), class: 'product-name' %>
            <p class="product-price">
              <%= number_to_currency(product.price, unit: 'VND ', precision: 0) %>
            </p>
          </div>
      </div>
    <% end %>
  </div>
</div>
