<div class="container cart">
  <div style="text-align: center" class="bg-<%= @order.status.bootstrap_class %> text-white" style="width: 30%; font-size: 16px">
    <%= @order.status.name %>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_lines.each do |line| %>
        <%= render partial: 'order_line', locals: {line: line} %>
      <% end %>
    </tbody>
  </table>

  <div class="cart-function" style="text-align: center">
    <%= link_to 'Place order', order_path(@order), method: 'patch', class: 'btn btn-success' %>
  </div>
</div>
