@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Rubik:300');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

html,
body {
    height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 1.02em;
}

a {
  color: #000;
}

a.pure {
  color: inherit;
  text-decoration: none;
}

a.pure:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

// Layout
.title {
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  color: #95a5a6;
}

.header {
  height: 33px;
  padding: 40px 0px 70px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
}

.user-function {
  position: fixed;
  top: 40px;
  right: 0;
  z-index: 99999;
  width: 100px;
}

.user-function a {
  color: #fff;
}

.content {
  padding-top: 100px;
}

.container-nav {
  position: fixed;
  top: 33%;
  z-index: 999999;
  padding-left: 3%;
}

// Login / Sign up form
.center-form {
  margin-top: 50px;
  text-align: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.center-form input {
  margin-top: 10px;
  margin-bottom: 5px;
}

// Navbar
#menu {
  text-transform: uppercase;
}

#menu ul li {
  list-style-image: none;
  list-style-type: none;
}

#menu a.active::after{
  content: '  <';
}

#menu a {
  color: #333;
}

// Home
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

// Product

.card {
  border: none;
}

.product-name {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #2980b9;
  font-size: 24px;
}

.products {

}

.product {
  padding-right: 0px;
  padding-left: 0px;
}

.product-detail {
  padding-top: 13%;
  text-align: center;
}

.product-size {
  padding: 3px 5px;
  border: 1px solid #000;
}

.product-quantity {
  font-size: 14px;
  text-transform: uppercase;
}

a.product-size.active {
  color: #2980b9;
}

.collection-detail {
    text-align: center;
}

.big-link {
  font-size: 24px;
  font-weight: bold;
}

.product img {
  max-width: 100%;
}

.place-order {
  margin-top: 20px;
}
