@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Rubik:300');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');



html,
body {
    height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 1.02em;
}

.title {
  font-family: 'Special Elite', cursive;
  font-size: 50px;
}

.header {
  height: 33px;
  padding: 30px 0px 90px 0;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

.content {
  padding-top: 10%;
}

.container-nav {
  position: fixed;
  top: 33%;
  z-index: 999999;
  padding-left: 3%;
}


#menu {
  text-transform: uppercase;
}

#menu ul li {
  list-style-image: none;
  list-style-type: none;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.card {
  border: none;
}

.product-name {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.products {

}

.product {
  padding-right: 0px;
  padding-left: 0px;
}

.product + .product {
  margin-left: 10px;
}

.product-detail {
  padding-top: 13%;
  text-align: center;
}

.product-size {
  padding: 3px 5px;
  border: 1px solid #000;
}

a {
  color: #34495e;
}

a.pure {
  color: inherit;
  text-decoration: none;
}

a.pure:hover {
  text-decoration: none;
}

a.active::after{
  content: '<';
}

.collection-detail {
    text-align: center;
}

.big-link {
  font-size: 36px;
  font-weight: bold;
}
